* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: 'FontAwesome';
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  color: #02073E;
}

ul {
  list-style: none;
}

/* 03-Course */
body {
  background: #FFFFFF;
  position: relative;
}

.padding-equal {
  padding: 100px 0px;
}

/* BG */
.bg {
  position: absolute;
  width: 64vw;
  height: 1000px;
  left: 0px;
  top: 0px;
  z-index: -1;
  background: linear-gradient(106.43deg, #E0F5FA -1.4%, #FFFDE6 100.87%);
  border-radius: 0% 0% 15% 0%;
}

.logo {
  height: 42px;
}

.heading {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #02073E;
}

h1.main-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 85px;
  line-height: 100px;
  letter-spacing: -2px;
  color: #02073E;
}

.content {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 42px;
  color: #02073E;

}

.search-d input {
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(48, 98, 145, 0.08);
  border-radius: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  color: #02073E;
  border: none;
  padding: 10px 20px;
  /* opacity: 0.4; */

}

.search-d input::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  color: #02073E;
  opacity: 0.4;

}

.search-d .icon {
  position: absolute;
  right: 20px;
  top: 33%;
  width: 22px;
  height: 22px;
}

.logo-title {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 42px;
  color: #02073E;
  opacity: 0.6;

}

.logos-d {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.media-bg {
  box-sizing: border-box;
  width: 545px;
  height: 680px;
  margin-left: auto;
  border: 2px solid #FFDC6B;
  border-radius: 5px;

}

.media-bg video {
  margin: -40px -40px 0px -40px;
  object-fit: cover;
}

.default-85 {
  max-width: 85%;
  margin: auto;
}

.default-d {
  max-width: 75%;
  margin: auto;
}


.title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #EF9E48;
}

.sub-heading {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 55px;
  letter-spacing: -1.5px;
  color: #0F2137;

}


.faq-d .card {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #E5ECF4 !important;
}

.faq-d .card-body {
  margin-left: 30px;
}

.faq-btn {
  background: transparent;
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #0F2137;
}

p,
.faq-d .card-body p {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #343D48;
}

.small-text {
  font-family: 'Heebo';
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #0F2137;
  opacity: 0.8;
}

h6 {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #343D48;
  opacity: 0.8;

}

h5 {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #0F2137;
}

.plan-d ul.nav-tabs {
  margin: auto;
  margin-bottom: auto;
  width: fit-content;
  padding: 5px;
  background: #F7F8FB;
}

.plan-d .nav-link.active {
  background: #FFFFFF;
  box-shadow: 0px 3px 3.8px rgba(38, 78, 118, 0.1);
}

.plan-d .nav-link {
  border: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.24px;
  color: #0F2137;

}

.plan-d .plan-card {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F3F4F5;
  border-radius: 10px;
  padding: 20px 40px;
  transition: all 300ms;
  height: 100%;

}

.plan-d .plan-card:hover {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #3FDBB1;
  border-radius: 10px;
  transform: scale(1.05);
}

.plan-card h5 {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 22px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.55px;
  color: #0F2137;
}

.plan-card p {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  display: flex;
  align-items: center;
  color: #343D48;
}

.plan-card span.default-btn {
  background: #EF9E48;
  border-radius: 3px;
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.14px;
  color: #FFFFFF;
  padding: 5px 10px;
}

.plan-card .price {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 26px;
  line-height: 34px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: -0.55px;
  color: #25CB9E;


}

.plan-card button {
  text-align: center;
  padding: 10px 50px;
}

.plan-card li {
  display: flex;
  gap: 10px;

}

.plan-card li svg {
  width: 30px;
  margin-top: 5px;
}

.plan-card li p {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: flex-end;
  color: #343D48;
}

.cta-d {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.cta-d h1 {
  max-width: 50%;
}

.common-bg {
  position: absolute;
  background: linear-gradient(180deg, #EBF9FF 0%, #F6F6FF 100%);
  opacity: 0.4;
  z-index: -1;
}


.wiw-d .count {
  background: #FFFFFF;
  box-shadow: 0px 14px 20px rgba(76, 119, 171, 0.1);
  width: 72px;
  height: 72px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-size: 30px;
  line-height: 38px;
  color: #0F2137;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}


.arrow-d {
  position: absolute;
  right: 0;
  top: 2%;
}

.custom-card-d {
  flex-wrap: wrap;
}

.core-feature-d .custom-card {
  width: 42%;
  height: 280px;
  background: #FFFFFF;
  box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: all 300ms;

}

.core-feature-d .custom-card:hover {
  transform: scale(1.1);

}

.core-feature-d .custom-card .count {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 72px;
  line-height: 55px;
  text-align: center;
  letter-spacing: -1.5px;
  color: #EF9E48;

}

.core-feature-d .custom-card:nth-child(2) .count {
  color: #FF753A;
}

.core-feature-d .custom-card:nth-child(3) .count {
  color: #FA578E;
}

.core-feature-d .custom-card:nth-child(4) .count {
  color: #E682FF;
}

.core-feature-bg {
  position: absolute;
  left: -10vw;
  top: 10vw;
  width: 66.51vw;
  height: 100%;
  z-index: -1;
}

.scroll-d {
  background: #FFFFFF;
  box-shadow: 0px 14px 20px rgba(76, 119, 171, 0.1);
  width: 72px;
  height: 72px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-size: 30px;
  line-height: 38px;
  color: #0F2137;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.core-feature-d .custom-card .small-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #0F2137;
  opacity: 0.7;
}

.swiper.mySwiper {
  padding: 30px;
}

.tutorial-card {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F3F4F5 !important;
  border-radius: 10px;

}

.tutorial-card:hover {
  background: #FFFFFF;
  box-shadow: 0px 15px 50px rgba(69, 88, 157, 0.1);
}

.tutorial-d button.secondary-btn {
  background: #3FDBB1;
  border-radius: 5px;
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.14px;
  color: #FFFFFF;
  position: absolute;
  right: 10%;
  top: 50%;
  z-index: 9;
}

.course .course-card {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #F3F4F5;
  border-radius: 10px;
  padding: 24px;

}

.course .course-card:hover {
  background: #FFFFFF;
  box-shadow: 0px 25px 100px rgba(69, 88, 157, 0.08);
  border-radius: 10px;

}

.course .course-card .expend-d {
  display: none;
  transition: all 300ms;
  margin-left: 112px;
  flex-wrap: wrap;
}

.course .course-card:hover .expend-d {
  display: flex;
}

.expend-d span {
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 15px;
  line-height: 42px;
  color: #0F2137;
  width: 50%;
}